.tag-small {
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 15px;
    margin: 2px 3px 5px 0;
}

.tag-big {
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}