@import 'styles/abstract/colors';

.panel {
    position: fixed;
    width: 320px;
    height: calc(100vh - 40px);
    top: 40px;
    right: 0;
    background-color: #f4f5f7;

    .title {
        color: $primary-font-color;
        text-align: center;
        font-weight: bold;
        margin: 20px 10px 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid $divisor-line-color;
    }

    .add-tag-btn {
        text-align: center;
        margin: 15px 0;
        padding: 5px 10px;
        display: block;
    }
}