@import 'styles/abstract/colors';

.column {
    min-width: 250px;
    border-radius: 5px;
    background-color: #dfe1e6;
    padding: 5px 8px;
    margin: 0 5px;

    .title {
        color: $primary-font-color;
        font-weight: bold;
        padding: 6px 10px;
    }
}