@import 'styles/abstract/colors';

.comment {
    border-bottom: 1px solid $divisor-line-color;
    margin-bottom: 15px;
    padding-bottom: 15px;

    .username {
        color: $primary-font-color;
        display: block;
        font-size: 14px;
    }
    .comment-text {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 2px -1px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
        box-sizing: border-box;
        clear: both;
        display: inline-block;
        margin: 4px 2px 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px 12px;
        margin: 5px 0;
    }
    .comment-actions {
        display: flex;

        .comment-action {
            color: $primary-font-color;
            font-size: 12px;
            margin: 0 5px;
        }
    }
}