@import 'styles/abstract/colors';

.description-box {
    background-color: rgba(9,30,66,.04);
    box-shadow: none;
    border: none;
    border-radius: 3px;
    display: block;
    min-height: 40px;
    padding: 8px 12px;
    text-decoration: none;
    color: $primary-font-color;
    cursor: pointer;
    
    &:hover {
        background-color: rgba(9,30,66,.08);
        box-shadow: none;
        border: none;
    }
}