.button {
    &.primary {
        color: white;
        text-align: center;
        margin: 5px 0 0;
    
        &:before {
            content: "";
            display: block;
        }
    }
    &.default {
        text-decoration: none;

        &:active {
            color: #0079bf;
        }
    }
    &.light {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    }
    .button-icon {
        margin-right: 10px;
    }
    &.icon {
        padding: 0;

        .button-icon {
            margin-right: 0;
        }
    }
}