.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .modal {
        background-color: #f4f5f7;
        border-radius: 2px;
        width: 600px;
        min-height: 500px;
        margin-top: 20px;
        padding: 10px 20px;
        position: relative;

        .comments-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
