.tags {
    padding: 0 15px;

    .text-input {
        margin-bottom: 15px;
    }
    .add-tag-btn {
        text-align: center;
        margin: 15px 0;
        padding: 5px 10px;
        display: block;
    }
}
