@import 'styles/abstract/colors';
@import 'styles/components/buttons';

.add-column-control {
    width: 270px;
    background-color: rgb(235, 236, 240);
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;

    .column-title-input {
        background: #fff;
        border: none;
        box-shadow: inset 0 0 0 2px #0079bf;
        display: block;
        margin: 0;
        transition: margin 85ms ease-in,background 85ms ease-in;
        width: 100%;
        color: $primary-font-color;
        box-sizing: border-box;
        -webkit-appearance: none;
        border-radius: 3px;
        line-height: 20px;
        padding: 8px 12px;
    }

    .add-column-button {
        @include primary-button;
    } 
}