@import 'styles/abstract/colors';
@import 'styles/components/buttons';

.add-card-control {
    .add-card-form {
        padding: 7px 0px;
    }

    .card-title-input {
        width: 100%;
        color: $primary-font-color;
        box-sizing: border-box;
        -webkit-appearance: none;
        border-radius: 3px;
        display: block;
        line-height: 20px;
        margin-bottom: 12px;
        border: none;
        box-shadow: none;
        height: auto;
        margin-bottom: 4px;
        overflow-y: auto;
        padding: 5px 10px;
        overflow-wrap: break-word;
        resize: none;
        height: 54px;
        font-family: inherit;
    }

    .add-card-button {
        @include primary-button;
    }

    .add-card {
        padding: 14px 16px;
        cursor: pointer;
        transition: .3s;
        color: gray;

        &:hover {
            color: $primary-font-color;
            background-color: rgba(9,30,66,.13);
            text-decoration: underline;
        }
    }
}